

<div class="page-header">
<h5 id="info" class="hidden">vista</h5>
  <h1>Bienvenido  <br><small>Aquí encontrara las opciones para el cargo</small></h1>
</div>


<div class="jumbotron">
  <h2 id="cargo"><%=cargo() %></h2>
  <section>
<p><%= describir() %> </p>
</section>
  <p><a class="btn btn-primary btn-primary center-block" href=<%=ruta()%> role="button">Saber Más</a></p>
</div>


<!-- Modal -->

<div class="moi">
		
	</div>


<%= form_tag("inicio/edit", method: "post") do %>
	<div class="conte">
		
	</div>
	
	<div class="subm">
		
	
  <%= submit_tag "VOTAR",  class: "btn btn-default btn-lg" %>
  </div>



<% end %>












